.right-arrow{
    position: absolute;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500;
    margin-top:-25px
}
.remove-border{
    border-bottom:none !important;
}
.add-border{
    border:1px solid #F5F5F5 !important;
}
.vipin-accordian-comp{
    border:none;
}
.accordian-highlighter{
    float: right;
    background: #F5F5F5;
    width: 187px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 20px;
}
.onoffswitch {
    position: relative; width: 130px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #F5F5F5; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Collapse ALL";
    padding-left: 10px;
    background-color: #3A9DDE; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Expand ALL";
    padding-right: 10px;
    background-color: #184F77; 
    color: #FFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 8px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 100px;
    border: 1px solid #F5F5F5; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}